# vim swapfiles
*.swp

# Lisp compile
*.fasl

# Emacs Temporary
*.*~
*.*#

# Haskell temporary
.ghci
.stack-work/
juvix.cabal
*.hie

# Juvix temporary
juvix.yaml

# Misc temporary
tmp/

# Idris temporary
*.ibc

# Agda temporary
*.agdai

# LLVM temporary
*.ll
*.s

# JavaScript-related stuff
node_modules/
logs
*.log
npm-debug.log*
.npm
build/Release
.vscode-test
